@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --ff-normal: "DM Sans", sans-serif;
    --primary-color: #6A3EE7;
    --secondary-color: #F4F5FF;
    --text-color: #655893;
    --link-color: #1d1e20;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-normal);
}
/* 
@keyframes de_derecha_a_izquierda {
    0%{
        margin-left: 300px;
    }
    100%{
        margin-left: 0px;
    }
} */


/* buttons */

.btn-secondary{
    border: 2px solid var(--link-color);
    border-radius: 4px;
    font-weight: 700;
/*     animation-name: de_derecha_a_izquierda;
    animation-duration: 4s; */
}

.btn-secondary:hover{
    transform: scale(1.2);
    transition: all 500ms ease-in-out;
}


/* Header section */

nav{
    display: flex;
}

nav a{
    text-decoration: none;
    color: var(--link-color);
    padding: 12px;
}

nav a:hover{
    opacity: 0.7;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.453);
}

header{
    display: flex;
    justify-content: space-between;
    height: 88px;
    padding: 40px;
    align-items: center;

}


/* Review section */

.reviews-section{
    padding: 20px;
}

.review-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #d5dfff;

}

.review-card article{
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-card .review-author-details{
    display:flex;
    padding: 20px;
    border-top: 1px solid #d5dfff;
    background-color: var(--secondary-color);
    align-items: center;
    gap: 10px;
}

.review-card .review-author-details img{
    width: 64px;
    height: 64px;
}


.bi-star-fill{
    color: var(--primary-color);
    font-size: 24px;
}

.review-card article p{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.review-card article a{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}